* {
    margin: 0px auto;
    padding: 0px;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

.container {
    width: 1920px;
}

.slider-header {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    text-align: center;

}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1024px;
    background-image: url(../img/img-slider-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.company-name {
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: right;
    text-transform: capitalize;
    margin-right: 219px;

}

.company-logo {
    display: flex;
    text-decoration: none;
    align-items: center;


}

.icon-logo {
    fill: #ffffff;
}

.company-logo:hover .icon-logo {
    fill: #c7b29a;
}

.company-logo:hover .company-name {
    color: #c7b29a;
}

.menu-header {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.slider-header {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    text-align: center;

}

.radio {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin: 5px;
    background: #8C8C8C;

}


.gorizontal-menu-header {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    text-transform: capitalize;



}

.li-menu-header {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}

.a-menu-header {
    text-decoration: none;
    color: inherit;

}

.a-menu-header:hover {
    color: #c7b29a;

}

.a-menu-header:active {
    color: #ffffff;

}


.header-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.header-left {
    margin-top: 40px;
}

.header-center {
    margin-top: 62px;
}

.header-right {
    margin-top: 55px;
    flex-direction: row;
}

.header-right .company-logo {
    display: inline-block;
    margin: 14px;
}

h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    margin-bottom: 14px;
}

h1 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
}

.standart-font-1 {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-bottom: 73px;
    width: 562px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header-radio {
    display: flex;
    justify-content: center;
    margin-top: 327px;
    margin-bottom: 40px;
}

.slider {
    width: 100%;
    margin-top: 285px;
    display: flex;
    justify-content: space-between;
}

.radio:hover {

    background-color: transparent;
    border: 2px solid #D1BFAD;
    margin: 3px;
}


.arrow {
    display: inline-block;
    margin: 150px;

}


.arrow-left {

    border: solid #d3c1ad;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    width: 54px;
    height: 54px;
}

.arrow-left:hover {
    border-color: #ffffff;
}

.arrow-left:active {
    border-color: #d3c1ad;
}

.arrow-right {
    border: solid #d3c1ad;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 54px;
    height: 54px;
}

.arrow-right:hover {
    border-color: #ffffff;
}

.arrow-right:active {
    border-color: #d3c1ad;
}

.button-header-text {
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
    padding: 21px 38px;
    border-radius: 3px;
    background: #998675;
    border-bottom: 3px solid #726256;


}

.button-header-text:hover {
    background: linear-gradient(to top, #998675, #d3c1ad);
}

.button-header-text:active {
    background: #998675;
}

.button-header {
    text-decoration: none;
    display: block;
    text-align: center;


}

.portfolio-titel {
    display: flex;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCFCFC;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 266px;
    margin-left: 17px;
    margin-right: 17px;


}

.service:hover {
    cursor: pointer;
}

.service:hover:after {
    background: #c7b299;
}

.service:hover .services-icon {
    fill: #c7b299;
}

.service:hover .services-title {
    color: #c7b299;
}

.services-icon {
    fill: #555555;
    margin-bottom: 30px;
    box-sizing: border-box;
    height: 50px;


}

.services-title {
    font-family: Raleway;
    color: #555555;
    font-size: 22px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.servise-text {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-bottom: 30px;
}

.service:after {

    content: "";
    background-color: #f1eee9;
    width: 70px;
    height: 3px;
    margin-bottom: 80px;

}

.ideas {
    background-color: #fbfaf8;
}

.ideas-slider {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ideas-img-left {
    background-image: url(../img/browser-left.jpg);
    background-repeat: no-repeat;
    width: 770px;
    height: 400px;
    margin-right: -900px;

}

.ideas-img-left:hover {
    z-index: 999;
}

.ideas-img-center {
    background-image: url(../img/browser-center.jpg);
    background-repeat: no-repeat;
    width: 770px;
    height: 482px;
    z-index: 1;
}

.ideas-img-right {
    background-image: url(../img/browser-right.jpg);
    background-repeat: no-repeat;
    width: 770px;
    height: 400px;
    margin-left: -900px;
}

.ideas-img-right:hover {
    z-index: 999;
}

h2 {
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 24px;
}

.h2-text {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    width: 757px;
}

.purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.purchase-waxom {
    font-family: Raleway;
    color: #c7b299;
    font-size: 28px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    padding-right: 3px;
}

.purchase-title {
    font-family: Raleway;
    color: #ffffff;
    font-size: 28px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;

}

.purchase-text {
    font-family: Montserrat;
    color: #615855;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.purchase-now {
    margin: auto;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.purchase-button {
    text-decoration: none;
    display: flex;
    border-bottom: 3px solid #726256;
    text-transform: uppercase;
    border-radius: 3px;
    background: #998675;
    width: 170px;
    min-height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

}

.purchase-button:hover {
    background: linear-gradient(to top, #998675, #d3c1ad);
}

.purchase-button:active {
    background: #998675;
}

.latest-projects {
    background: #FCFCFC;
    padding-bottom: 80px;
}

.projects {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.button-projects {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 26px 10px 26px;
    border: 1px solid #f1eee9;
    border-radius: 3px;

}

.button-projects-text {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 21px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;

}

.button-projects:hover {
    background-color: #998675;
}

.button-projects:hover .button-projects-text {
    color: #ffffff;
}

.photo-projects {
    display: flex;
    flex-direction: column;
    background-color: #fbfaf8;
    margin-bottom: 30px;
    position: relative;
}

.all-photo-projects {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin-bottom: 30px;
}

.photo-projects-title {
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: left;
    display: block;
    margin-left: 30px;
    margin-bottom: 10px;
}

.photo-projects-title:before {
    display: block;
    content: "";
    position: relative;
    border: 15px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    top: -30px;
    left: 0px;
    width: 0px;
}

.photo-projects-text {
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-left: 30px;
    margin-bottom: 27px;

}

.container-project {
    position: relative;
    display: flex;
    justify-content: center;
}

.project-links {
    position: absolute;
    top: 106px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-link {
    display: none;
    height: 30px;
    width: 40px;
    margin: 14px;
}

.icon-project {
    fill: #ffffff;
}

.icon-project:hover {
    fill: #c7b299;
}

.icon-project:active {
    fill: #ffffff;
}


.svg {
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;

}

.container-project img {
    display: block;
}

.container-project:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #777777;
    opacity: 0;
}

.photo-projects:hover {
    background: #362f2d;
    cursor: pointer;
}

.photo-projects:hover .container-project:after {
    opacity: 0.7;
    background: black;
}

.photo-projects:hover .photo-projects-title:before {
    border-bottom: 15px solid #362f2d;

}

.photo-projects:hover .photo-projects-title {
    color: #fff;
}

.photo-projects:hover .photo-projects-text {
    color: #c7b299;
}

.photo-projects:hover .project-link {
    display: inline-block;

}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 705px;
    background-image: url(../img/video-poster.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.video-icon {
    fill: #ffffff;
    border: 15px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);

}

.video-title {
    font-family: Raleway;
    color: #ffffff;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 29px;
}

.video-text {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    width: 560px;
}

.video-time {
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 40px;
}


.mobile {
    display: flex;
    background-color: #fbfaf8;
    align-items: center;
    justify-content: center;

}

.mobile-devices h2 {
    margin-left: 0;
}

.mobile-devices {
    display: flex;
    flex-direction: column;
    width: 657px;
}

.mobile-text {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.pluses-text {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    list-style-type: none;
    vertical-align: top;

}

.pluses-icon {
    fill: #c7b299;
    margin-right: 29px;
    margin-left: 50px;
    width: 21px;
    height: 21px;
    margin-top: 10px;
    margin-bottom: -4px;



}

.pluses {
    width: 800px;
    margin-top: 40px;
}


.mobile-text {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}


.mobile-photo {
    background: #fbfaf8;
    margin-top: 80px;
    margin-right: -210px;

}


.statistics {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    width: 1920px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.likes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    margin-right: 20px;
    margin-left: 20px;


}

.likes:after {

    content: "";
    background-color: #ffffff;
    width: 35px;
    height: 3px;

}

.likes-icon {
    fill: #c7b299;

}

.quantity {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 48px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 200;
    line-height: 36px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.likes-icon-name {
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.posts {
    width: 370px;
    position: relative;
    margin: 15px;
}

.posts-photo {
    width: 370px;
    height: 220px;
    margin-bottom: 0px;
}

.container-posts {
    margin-top: 0px;
    border: 1px solid #f8f8f8;
    padding: 30px;
}

.posts img {
    display: block;
}

.all-posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.posts-title {
    font-family: Raleway;
    color: #555555;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: left;
    margin-bottom: 19px;
    padding: 0px;
}

.posts-text {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.posts-read-more {
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;

}

.posts-icon {
    fill: #c7b299;
}

.posts-date {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.posts-date-number {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    width: 50px;
    height: 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #363636;
    padding-top: 6px;

}

.posts-date-month {
    font-family: Roboto;
    color: #ffffff;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    width: 50px;
    height: 25px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #252525;
    padding-top: 3px;
    padding-bottom: 3px;

}

.posts:hover .posts-date-number {
    background-color: #c7b299;
}

.posts:hover .posts-date-month {
    background-color: #a48d72;
}

.posts:hover .posts-title {
    color: #c7b299;
}

.posts:hover .container-posts {
    background: #362f2d;
    border: 1px solid #362f2d;
    cursor: pointer;
}

.posts:hover .posts-overlay {
    width: 370px;
    height: 220px;
    background: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.7;
}

.icon-arrow-posts {
    fill: #d1d1d1;
}

.posts-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.posts-arrow {
    margin: 4px;
}

.posts-arrow:hover .icon-arrow-posts {
    fill: #c7b299;
}



.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 489px;
    background-image: url(../img/bg-partners.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.partners-logo {
    margin-left: 50px;
    margin-right: 50px;

}

footer {
    margin: 0px;
}

footer section {
    background: #191919;
}

footer footer {
    background: #111111;
    display: flex;
    padding-top: 45px;
    padding-bottom: 52px;
    justify-content: center;
}

.footer-list {
    position: relative;
    overflow: hidden;
}

.footer-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}

.footer-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: 0px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid #959595;
    font-family: Montserrat;
    color: #959595;
    font-size: 13px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 13px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer-list li .logo {
    color: #ccc;
    text-decoration: none;
}

.footer-list li .logo:hover {
    color: #fff;
}

.footer-list li a.link {
    color: #959595;
    text-decoration: none;
}

.footer-list li a.link:hover {
    color: #c7b299;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
}


footer section .footer-column {
    width: 400px;
    margin: 20px;
}

footer section h5 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;

}

footer section p {
    font-family: Montserrat;
    color: #545454;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

footer .posts-read-more {
    color: white;
}

footer .date {
    font-family: Montserrat;
    color: #363636;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

footer article.post:hover .date {
    color: white;
}

footer article.post:hover p {
    color: #c7b299;
}

footer article:after {
    content: ' ';
    display: block;
    border: 1px solid #545454;
    margin-bottom: 20px;
    margin-top: 20px;

}

footer article:last-child:after {
    content: '';
    display: none;
}

footer article.tweet a.hash {
    color: #00bff3;
    text-decoration: none;
}

footer article.tweet a.hash:hover {
    color: #aae5f5;
}

footer article.tweet a.link {
    color: #ccc;
    text-decoration: none;
}

footer article.tweet a.link:hover {
    color: white;
}

.widget_img {
    margin: 5px;
}

@media screen and (max-width: 576px){
    .container {


        width: 100%;
    }

    .services {

        flex-direction: column;
    }

    .purchase {
        display: none;
    }

    .all-photo-projects {
        flex-direction: column;
        width: 480px;

    }

    .statistics {

        flex-wrap: wrap;
        width: 100%;
        height: 900px;



    }

    .all-posts {
        flex-direction: column;
        align-items: center;
    }

    .button-projects {
        padding: 10px 2px;

    }



    .partners {
        display: none;
    }

    .h2-text {
        width: 480px;
    }

    .mobile-photo {
        opacity: 0.15;

    }

    .mobile-devices {
        width: 480px;
        margin-left: -200px;
    }

    .mobile-text {
        color: black;
    }

}